# Rename this file to local.rb
# Since this file is not part of the git repository, you can set here sensitive data for local development.

SimpleConfig.for :application do

  set :app_name, 'Icare'
  set :repository_url, 'http://github.com/FancyPixel/icare'

  set :secret_token, 'mysecrettoken'

  set :advertising, true
  set :demo_mode, true
  set :base_url, 'localhost:3000'
  set :single_process_mode, true

  set :currency, '.00 €'
  set :fuel_consumption, 0.12
  set :fuel_currency, '€'

  set :costs_calculation_service_link, 'http://servizi.aci.it/CKInternet/'

  set :google_analytics_id, nil
  set :google_maps_api_key, nil

  group :mailer do
    set :from, '"Icare" <no-reply@icare.com>'
    set :host, 'heroku.com'

    group :smtp_settings do
      set :address, 'smtp.sendgrid.net'
      set :port, 587
      set :authentication, :plain
      set :domain, 'heroku.com'

      set :user_name, ENV['SENDGRID_USERNAME']
      set :password, ENV['SENDGRID_PASSWORD']
    end
  end

  # To enable domains filter uncomment next line
  # set :allowed_email_domains_regexp, /\A[^@]+@((ami\.fe\.it)|(ausl\.fe\.it)|(comune\.fe\.it)|(gruppohera\.it )|(ifmferrara\.com)|(ospfe\.it)|(provincia\.fe\.it)|(tper\.it)|(mafer\-online\.it)|(unife\.it)|(student\.unife\.it)|(versalis\.eni\.com)|(lyb\.com)|(lyondellbasell\.com)|(fancypixel\.it))\z/i


  # Default: no domains filter, Devise base email validation regexp is set
  set :allowed_email_domains_regexp, '/\A[^@]+@[^@]+\z/'

  group :facebook do
    set :namespace, 'NAMESPACE'
    set :app_id, 'FACEBOOK_APP_ID'
    set :secret, 'FACEBOOK_SECRET'
  end
end
